body, html {
  height: 100%;
  }

/*Styles for landing page (Home.jsx)*/
  .bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  }

.main-background .social-links{
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
}

.main-background .social-links i{
  color: white;
  font-size: 5em;
  padding: 8px;
}

.main-background .bg h1{
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 5em;
  padding-top: 5em;
  color:white; 
}
/****************************/

/*Styles for About Me page*/


/****************************/
